.solid-tabular\/add-column-btn {
  position: absolute;
  top: 0;
  z-index: -9999;
  cursor: pointer;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--solid-tabular-border-color);
    border-top: none;
    background-color: var(--solid-tabular-cell-color);
    padding: 0.25rem 0;
    box-sizing: border-box;

    &:hover {
      background-color: var(--solid-tabular-cell-hover-color);
    }
  }
}
