.solid-tabular\/add-row-btn {
  display: flex;
  margin: -6px 0 6px 0;
  cursor: pointer;
  border-top: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
  background-color: white;
  z-index: 40;
  box-sizing: border-box;

  &:hover {
    background-color: oklch(96.7% 0.003 264.542); /* gray-100 */
  }

  > :first-child {
    display: flex;
    position: sticky;
    left: 0;
    z-index: 10;
    flex: none;
    align-items: center;
    padding: 0.25rem 0.5rem 0.25rem 0;
    box-sizing: border-box;

    .solid-tabular\/plus-btn {
      padding-right: 0.5rem;
      text-align: right;
      color: oklch(70.7% 0.022 261.325); /* gray-400 */
      box-sizing: border-box;
    }

    .solid-tabular\/text {
      padding-left: 0.25rem;
      box-sizing: border-box;
    }
  }
}
