.solid-tabular\/add-row-btn {
  display: flex;
  margin: -6px 0 6px 0;
  cursor: pointer;
  border-top: 1px solid var(--solid-tabular-border-color);
  background-color: var(--solid-tabular-cell-color);
  z-index: 40;
  box-sizing: border-box;

  &:hover {
    background-color: var(--solid-tabular-cell-hover-color);
  }

  > :first-child {
    display: flex;
    position: sticky;
    left: 0;
    z-index: 10;
    flex: none;
    align-items: center;
    padding: 0.25rem 0.5rem 0.25rem 0;
    box-sizing: border-box;

    .solid-tabular\/plus-btn {
      padding-right: 0.5rem;
      text-align: right;
      box-sizing: border-box;
    }

    .solid-tabular\/text {
      padding-left: 0.25rem;
      box-sizing: border-box;
    }
  }
}
