.solid-tabular\/cell {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  outline: none;
}

.solid-tabular\/cell-input-container {
  position: absolute;
  border: 1px solid transparent;
  pointer-events: none;
  box-sizing: border-box;
}
