.solid-tabular\/cell {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  outline: none;
}

.solid-tabular\/cell-input-container {
  position: absolute;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: var(--solid-tabular-cell-color);
  border: 1px solid transparent;
}
