.solid-tabular\/column-header {
  position: absolute;
  top: 0;
  border-left: 1px solid var(--solid-tabular-border-color);
  border-bottom: 1px solid var(--solid-tabular-border-color);
  background-color: var(--solid-tabular-header-color);
  box-sizing: border-box;
  cursor: cell;

  > :first-child {
    position: absolute;
    display: flex;
    inset: 0;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
    box-sizing: border-box;
  }

  .solid-tabular\/renameable {
    min-width: 0;
    font-weight: bold;
  }
}
