.solid-tabular\/cell-outline {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.solid-tabular\/shade {
  position: absolute;
  inset: 2px;
  background: rgba(0, 0, 0, 0.1);
}
