.solid-tabular\/row-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 1px solid var(--solid-tabular-border-color);
  border-right: 1px solid var(--solid-tabular-border-color);
  background-color: var(--solid-tabular-cell-color);
  padding: 0.25rem 0.5rem 0.25rem 0;
  box-sizing: border-box;
  color: var(--solid-tabular-rownum-color, inherit);
  font-size: var(--solid-tabular-font-size-row-num, inherit);
  cursor: cell;
}
