.solid-tabular\/table {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  contain: strict;
  outline: none;
  user-select: none;
  background-color: oklch(92.8% 0.006 264.531); /* gray-200 */
  text-align: left;

  .solid-tabular\/focus-proxy {
    position: absolute;
    width: 0;
    height: 0;
  }

  .solid-tabular\/corner-box {
    position: sticky;
    top: 0;
    left: 0;
    height: 0;
    z-index: 40;

    > :first-child {
      display: flex;
      align-items: center;
      justify-content: end;
      border-right: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
      border-bottom: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
      background-color: white;
      padding: 0.25rem 0.5rem 0.25rem 0;
      color: oklch(70.7% 0.022 261.325); /* gray-400 */
      box-sizing: border-box;
      font-size: var(--solid-tabular-font-size-row-num, inherit);
    }
  }

  .solid-tabular\/column-headers {
    position: sticky;
    top: 0;
    height: 0;
    z-index: 30;
  }

  .solid-tabular\/row-headers {
    position: sticky;
    left: 0;
    height: 0;
    z-index: 20;
  }

  .solid-tabular\/cell-ctx-menu {
    min-width: 10rem;
  }
}
