.solid-tabular\/table {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  contain: strict;
  outline: none;
  user-select: none;
  background-color: oklch(92.8% 0.006 264.531); /* gray-200 */
  text-align: left;

  .solid-tabular\/focus-proxy {
    position: absolute;
    width: 0;
    height: 0;
  }

  .solid-tabular\/corner-box {
    position: sticky;
    top: 0;
    left: 0;
    height: 0;
    z-index: 40;

    > :first-child {
      display: flex;
      align-items: center;
      justify-content: end;
      border-right: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
      border-bottom: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
      background-color: white;
      padding: 0.25rem 0.5rem 0.25rem 0;
      color: oklch(70.7% 0.022 261.325); /* gray-400 */
      box-sizing: border-box;
      /* text-xs */
    }
  }

  .solid-tabular\/column-headers {
    position: sticky;
    top: 0;
    height: 0;
    z-index: 30;

    .solid-tabular\/resize-bar {
      position: absolute;
      top: 0;
      margin: 0 0 0 -4px;
      width: 9px;
      z-index: 10;
    }
  }

  .solid-tabular\/column-header {
    position: absolute;
    top: 0;
    border-left: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
    border-bottom: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
    background-color: white;
    box-sizing: border-box;

    > :first-child {
      position: absolute;
      display: flex;
      inset: 0;
      align-items: center;
      gap: 0.25rem;
      padding: 0.25rem;
      box-sizing: border-box;
    }

    .solid-tabular\/renameable {
      min-width: 0;
      font-weight: bold;
    }
  }

  .solid-tabular\/add-column-btn {
    position: absolute;
    top: 0;
    z-index: -9999;
    cursor: pointer;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
      border-top: none;
      background-color: white;
      padding: 0.25rem 0;
      box-sizing: border-box;

      &:hover {
        background-color: oklch(96.7% 0.003 264.542); /* gray-100 */
      }
    }
  }

  .solid-tabular\/row-headers {
    position: sticky;
    left: 0;
    height: 0;
    z-index: 20;
  }

  .solid-tabular\/row-header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
    border-right: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
    background-color: white;
    padding: 0.25rem 0.5rem 0.25rem 0;
    color: oklch(70.7% 0.022 261.325); /* gray-400 */
    box-sizing: border-box;
    /* text-xs */
  }

  .solid-tabular\/row .solid-tabular\/row-cell,
  .solid-tabular\/row .solid-tabular\/row-header {
    background: white;
  }

  .solid-tabular\/row:hover .solid-tabular\/row-cell,
  .solid-tabular\/row:hover .solid-tabular\/row-header,
  &:focus-within .solid-tabular\/row[data-active='true'] .solid-tabular\/row-cell,
  &:focus-within .solid-tabular\/row[data-active='true'] .solid-tabular\/row-header {
    background: rgb(243, 245, 247);
  }

  .solid-tabular\/row-cell {
    position: absolute;
    top: 0;
    left: 0;
    cursor: cell;
    border-top: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
    border-left: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
    box-sizing: border-box;
  }

  .solid-tabular\/cell {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    outline: none;
    /* text-sm */

    /* .null {
      width: 100%;
      text-align: center;
      font-style: italic;
      color: oklch(87.2% 0.01 258.338); /* gray-300 * /
    } */
  }

  .solid-tabular\/cell-input-container {
    position: absolute;
    border: 1px solid transparent;
    pointer-events: none;
    box-sizing: border-box;
  }

  .solid-tabular\/cell-input {
    overflow: hidden;
    height: 0;
    pointer-events: auto;

    input {
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: white;
      padding: 0.25rem;
      outline: none;
      border: none;
      font: inherit;
      box-sizing: border-box;
      /* text-sm */
    }

    input:focus {
      position: absolute;
    }
  }

  .solid-tabular\/cell-outline {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
  }

  &:focus-within .solid-tabular\/cell-outline.solid-tabular\/shade {
    background: rgba(0, 0, 0, 0.1);
  }

  .solid-tabular\/new-row-btn {
    display: flex;
    margin: -6px 0 6px 0;
    cursor: pointer;
    border-top: 1px solid oklch(87.2% 0.01 258.338); /* gray-300 */
    background-color: white;
    z-index: 40;
    box-sizing: border-box;

    &:hover {
      background-color: oklch(96.7% 0.003 264.542); /* gray-100 */
    }

    > :first-child {
      display: flex;
      position: sticky;
      left: 0;
      z-index: 10;
      flex: none;
      align-items: center;
      padding: 0.25rem 0.5rem 0.25rem 0;
      box-sizing: border-box;

      .solid-tabular\/plus-btn {
        padding-right: 0.5rem;
        text-align: right;
        color: oklch(70.7% 0.022 261.325); /* gray-400 */
        box-sizing: border-box;
      }

      .solid-tabular\/text {
        padding-left: 0.25rem;
        /* text-sm */
        box-sizing: border-box;
      }
    }
  }

  .solid-tabular\/text-content {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 0.25rem;
    white-space: nowrap;
    box-sizing: border-box;

    .solid-tabular\/text-content-inner {
      display: flex;
      flex: 1;
      overflow: hidden;

      &.solid-tabular\/align-right {
        flex-direction: row-reverse;
      }

      &.solid-tabular\/align-center {
        justify-content: center;
      }
    }
  }

  .solid-tabular\/checkbox-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .solid-tabular\/sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
      box-sizing: border-box;
    }

    .solid-tabular\/checkbox-box {
      display: flex;
      height: 1rem;
      width: 1rem;
      align-items: center;
      justify-content: center;
      border-radius: 0.125rem;
      border-width: 1px;
      border-style: solid;
      box-sizing: border-box;

      &.solid-tabular\/checked {
        border-color: rgb(29, 78, 216); /* blue-700 */
        background-color: rgb(37, 99, 235); /* blue-600 */
        color: rgb(29, 78, 216); /* blue-700 */
        box-sizing: border-box;
      }

      &.solid-tabular\/unchecked {
        border-color: oklch(87.2% 0.01 258.338); /* gray-300 */
        background-color: white;
        box-sizing: border-box;
      }

      &.solid-tabular\/editable {
        cursor: pointer;
      }

      &.solid-tabular\/readonly {
        cursor: cell;
      }
    }

    .solid-tabular\/checkbox-icon {
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  .solid-tabular\/cell-ctx-menu {
    min-width: 10rem;
  }
}
