.solid-tabular\/row .solid-tabular\/row-header {
  background: var(--solid-tabular-header-color);
}

.solid-tabular\/row .solid-tabular\/row-cell {
  background: var(--solid-tabular-cell-color);
}

.solid-tabular\/row-cell {
  position: absolute;
  top: 0;
  left: 0;
  cursor: cell;
  border-top: 1px solid var(--solid-tabular-border-color);
  border-left: 1px solid var(--solid-tabular-border-color);
  box-sizing: border-box;
}
